.button {
  max-width: 100%;
  width: 300px;
  height: 51px;
  border-radius: 2px;
  background-color: #249f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #249f7f;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;

  &:hover {
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.26);
  }
}

.button2 {
  width: 300px;
  height: 51px;
  border-radius: 2px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #249f7f;
  color: #249f7f;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0);
  transition: .3s;

  &:hover {
    background-color: $text;
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.26);
    color: #ffffff;
    border: 1px solid $text;
  }
}

.logo {
  &__img {
    @include lg-block {
      height: 55px;
    };
    @include sm-block {
      height: auto;
      max-height: 45px;
    };
  }
}

.address {
  display: flex;
  flex-wrap: wrap;
  color: #333333;
  font-size: 14px;

  &__icon {
    margin-right: 10px;
    &-svg {
      height: 16px;
      fill: #666666;
    }
  }

  &__title {
    margin-right: 5px;
  }

  &__text {
    font-weight: 500;
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
  height: 40px;

  &__item {
    min-width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eeeeee;

    &:first-child {
      border-left: 1px solid #eeeeee;
    }

    &:hover {
      .controls__item-svg {
        fill: #000000;
      }
      .controls__item-title {
        color: #000000;
      }
    }

    &-svg {
      height: 16px;
      fill: #666666;
      transition: .3s;
    }

    &-title {
      color: #666666;
      font-size: 14px;
      font-weight: 500;
      padding: 0 30px;
      transition: .3s;
    }
  }
}

.phone {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.email {

  &__title {
    color: #333333;
  }

  &__link {
    color: #019875;
    font-weight: 500;
  }
}

.cart {

  display: flex;
  flex-wrap: wrap;

  &__img {
    position: relative;
    margin-right: 35px;

    @include lg-block {
      margin-right: 0;
    };
  }
  &__count {
    @include lg-block {
      width: 20px;
      height: 20px;
      font-size: 10px;
    };

    width: 26px;
    height: 26px;
    border: 2px solid #666666;
    background-color: #ffffff;

    color: #249f7f;
    font-size: 14px;
    font-weight: 500;

    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -7px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include lg-block {
      display: none;
    };
  }
  &__title {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
  }
  &__text {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
  }

  &__svg {
    width: 55px;
    height: 44px;
    fill: #666666;

    @include lg-block {
      width: 37px;
      height: 30px;
    };
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__item {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 23px 0 19px 0;
    border-bottom: 4px solid transparent;
    transition: .3s;

    &:hover {
      color: #019875;
    }

    &.active {
      border-bottom: 4px solid #019875;
      color: #019875;
    }
  }
}

.search {

  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    border-radius: 2px;
    background-color: rgba(#ffffff, .85);
    border: none;
    padding: 10px 25px 10px 15px;

    color: #333333;
    font-size: 14px;
    font-weight: 500;

    font-family: inherit;

    &::placeholder {
      color: #333333;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__submit {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
  }

  &__svg {
    height: 14px;
    fill: #333333;
  }
}

.label {
  width: 100%;
  display: block;
  color: #323232;
  font-weight: 500;
  letter-spacing: 0.32px;
  margin-bottom: 10px;
}

.input {
  border-radius: 3px;
  border: 1px solid #d5dfe6;
  padding: 14px 20px;
  display: block;
  width: 100%;

  color: #323232;
  letter-spacing: 0.32px;

  &::placeholder {
    color: rgba(#323232, .5);
  }
}

.accept {
  width: 100%;
  display: flex;
  justify-content: center;

  &__check {
    display: none;

    &:checked + .accept__label .accept__fake:after {
      display: block;
    }
  }

  &__left {
    margin-right: 9px;
  }
  &__label {
    display: flex;
    font-size: 14px;
    text-decoration: underline;
  }
  &__fake {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #979797;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:after {
      display: none;
      content: '';

      width: 9px;
      height: 6px;
      margin-bottom: 3px;
      border-bottom: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
      transform: rotate(-45deg);
    }
  }
}

.close {
  cursor: pointer;
  svg {
    height: 30px;
    fill: rgba($text, .5);
  }
}

.delete {
  &__svg {
    width: 26px;
    height: 26px;
    fill: rgba(#000000, .5);
  }

}

.proportion {
  display: block;
  width: 100%;
  &_1x1 {
    padding-top: calc((1 / 1) * 100%);
  }
  &_262x170 {
    padding-top: calc((170 / 262) * 100%);
  }
  &_262x149 {
    padding-top: calc((149 / 262) * 100%);
  }
  &_555x316 {
    padding-top: calc((316 / 555) * 100%);
  }
}

.title {
  @include sm-block {
    font-size: 20px;
  };
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.main-title {
  @extend .title;
  background-color: #ffffff;
  text-align: center;
  padding: 25px 15px;
}

.copy {
  @include lg-block {
    display: none;
  };
  color: #333333;
  font-size: 14px;
  letter-spacing: 0.28px;

  &_mobile {
    display: none;

    @include lg-block {
      width: 100%;
      display: block;
      text-align: center;
    };
  }
}

.page {
  &__title {
    margin-bottom: 25px;
  }

  &__content {
    h1, h2, h3, h4, h5, h6 {
      letter-spacing: 0.48px;
      margin-bottom: 14px;
      margin-top: 14px;
    }

    p {
      letter-spacing: 0.32px;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 16px;
      margin: 0;
      li {
        margin-bottom: 10px;
        letter-spacing: 0.32px;
      }
    }

  }

  &__table {
    border-collapse: collapse;
    width: 653px;
    margin-bottom: 50px;
    th {
      color: #222222;
      text-align: left;
      background-color: #ebebeb;
      padding: 10px 20px;

      &:nth-child(1) {
        width: calc(100% / 7 * 3);
      }
      &:nth-child(2) {
        width: calc(100% / 7 * 4);
      }
    }
    td {
      padding: 10px 20px;
    }
  }
}

.page-title {
  @include lg-block {
    font-size: 24px;
  };
  @include sm-block {
    font-size: 20px;
  };
  color: #222222;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.count {
  display: flex;

  &__up, &__down {
    width: 30px;
    height: 32px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__down {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &__up {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &__val {
    width: 50px;
    height: 32px;
    border: none;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    text-align: center;
    outline: none;
  }

  &__svg {
    width: 9px;
    fill: #dddddd;
  }
}

.form {
  margin-bottom: 32px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
}

/* IE */
input[type=number]::-ms-clear {
  display: none;
}

/* Mozila */
input[type=number] {
  -moz-appearance:none;
}

.mCSB_scrollTools {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 2px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #000;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  border-radius: 2px;
  background-color: #dadada;
}

.mCSB_dragger {
  //background: #000;
  height: 66px !important;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}