.category {
  @include col;
  @include size(18);
  @include size-lg(24);

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @include sm-block {

    };
  }

  &__title {
    margin-bottom: 35px;
  }

  &__sort {
    flex-grow: 1;
  }

  &__item {
    //@include col;
    //@include size(8);
  }
}