.filters {
  @include col;
  @include size(6);



  &__wrapper {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }

  &__container {
    background-color: #f2f2f2;
  }


  &__title {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    padding: 20px;

    border: 1px solid #ebebeb;
  }

  &__submit, &__reset {
    width: 100%;
  }
  &__submit {
    margin-bottom: 15px;
  }

}

.filter {
  background: #fcfcfc;
  border: 1px solid #ebebeb;
  transition: .3s;

  &:hover {
    background-color: #f2f2f2;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    cursor: pointer;

    &.open {
      .filter__title-svg {
        transform: rotate(-180deg);
      }
    }

    &-text {
      font-size: 14px;
      font-weight: 700;
    }
    &-svg {
      height: 8px;
      fill: rgba(#000000, .5);
      transition: .5s;
    }
  }

  &__hidden {
    //display: none;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  &__input {
    max-width: 91px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;

    font-size: 14px;
    font-weight: 500;

  }

  &__range {
    padding: 0 22px 0 28px;

    .ui-widget.ui-widget-content {
      border: none;
      height: 5px;
      border-radius: 3px;
      background-color: #e6e6e6;
    }

    .ui-slider-horizontal .ui-slider-range {
      border-radius: 3px;
      background-color: #249f7f;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
      width: 12px;
      height: 12px;
      border: 1px solid #c2c2c2;
      background-color: #ffffff;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
    }
  }

  &__values {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  &__value {
    color: rgba($text, .5);
    font-size: 14px;
  }

  &__checkboxes {
    padding: 0 20px;
  }
  &__checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &-title {
      font-size: 14px;
      font-weight: 400;
      flex-basis: 75%;

      &_count {
        color: #c2c2c2;
      }

    }

    &-input {
      display: none;
      &:checked + label {
        span {
          background-color: #249f7f;
          border: 1px solid #249f7f;
          &:after {
            opacity: 1;
          }
        }
      }
    }

    &-fake {
      width: 15px;
      height: 15px;
      border-radius: 3px;
      border: 1px solid #c2c2c2;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;


      &:after {
        content: '';
        display: block;
        opacity: 0;
        width: 5px;
        height: 9px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg);
        margin-bottom: 2px;
      }
    }
  }
}