.footer {

  /* top */
  &__top {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 50px 0;

    /* left */
    &-left {
      @include col;
      @include size(6.3);
      @include size-lg(10);
      @include shift-lg(7);
      @include size-sm(24);
      @include shift-sm(0);


      display: flex;
      flex-direction: column;
    }
    /* END left */

    /* center */
    &-center {
      @include col;
      @include size(11);
      @include lg-block {
        display: none;
      };
      //padding-left: 17px;
    }
    /* END center */

    /* right */
    &-right {
      @include col;
      @include size(6.7);
      @include size-lg(10);
      @include shift-lg(7);
      @include lg-block {
        margin-bottom: 66px;
      };
      @include size-sm(24);
      @include shift-sm(0);
      @include sm-block {
        margin-bottom: 30px;
      };

    }
    /* END right */

  }

  &__logo {
    margin-bottom: 25px;

    @include lg-block {
      display: flex;
      justify-content: center;
      margin-bottom: 55px;
      img {
        height: 100px;
      }
    };
    @include sm-block {
      margin-bottom: 35px;
      img {
        height: 92px;
        max-height: 92px;
      }
    };
  }

  &__nav {
    @include col;
    @include size(12);

    display: flex;
    flex-direction: column;

    &-item {
      color: #2c3e50;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 25px;
      transition: .3s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: #249f7f;
      }
    }
  }

  &__phones {
    @include sm-block {
      justify-content: center;
    };
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    &-seporator {
      @include sm-block {
        margin: 0 10px;
      };
      @include xs-block {
        margin: 0 5px;
      };
      width: 2px;
      background-color: #333;
    }
  }
  &__phone {
    @include xs-block {
      font-size: 15px;
    };
    color: #333333;
    font-weight: 700;
  }

  &__address {
    @include lg-block {
      text-align: center;
    };
    display: block;
    color: #333333;
    font-weight: 700;
    letter-spacing: 0.20px;
    margin-bottom: 25px;
  }
  /* END top */

  /* bottom */
  &__bottom {
    text-align: center;
    padding: 30px 0;
  }
  /* END bottom */
}